.category-global-container {
  padding: 100px 40px;
  @media (max-width: 840px) {
    padding: 100px 10px;
  }
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 840px) {
    grid-template-columns: repeat(auto-fill, 250px);
  }
  gap: 20px;
  row-gap: 50px;
  justify-content: center;
}
.category-title {
  font-size: 44px;
  margin-bottom: 25px;
  text-align: center;
}
